@charset "utf-8";
.pc {
  display: block;
  margin: 0 auto;
}
.sp {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
  padding: 15px;
}
section {
  padding: 3rem;
}
a {
  text-decoration: none;
  color: #000;
}
a:active {
  color: #009ada;
}
.section_images {
  text-align: center;
}
.apply_btn:hover {
  opacity: 0.8;
}
.title {
  padding-bottom: 2rem;
}
/* ヘッダー */
.sec01_top {
  position: relative;
  background-color: #212529;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}
.top {
  text-align: center;
  padding: 50px;
}
.top-btn {
  padding: 20px 0 0 0;
}
.movie {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section02 */

/* section03 */
.sec03 {
  background-image: url(../images/sec03_background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sec03-04 {
  background-image: url(../images/sec03-04_bg.png);
  background-size: cover;
}
.sec03_img {
  padding: 2rem 0 1rem 0;
}
/* section04 */
.sec04_bk-ground {
  background-image: url(../images/sec04_background.png);
  display: flex;
  height: 260px;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.sec04 {
  background-color: #bcd1f3;
}

/* section05 */
.sec05 {
  background: linear-gradient(
      0deg,
      transparent 19px,
      rgb(211, 211, 211, 0.5) 20px
    ),
    linear-gradient(90deg, transparent 19px, rgb(211, 211, 211, 0.5) 20px);
  background-size: 20px 20px;
}
.sec05_5points {
  padding: 40px;
}
.sec05_5points {
  padding-top: 20px;
}
.sec05 p img {
  text-align: center;
}

/* section06 */
.sec06 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
/* section07 */
.sec07 {
  background-image: url(/images/sec07_background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* sec07-08 動画 */
.sec07-08 {
  background-image: url(/images/sec07-08_bg.png);
  background-size: contain;
}
.youtube {
  padding: 0 1rem 2rem 1rem;
  max-width: 900px;
  margin: 0 auto;
}
.wrap02,
.wrap03 {
  margin-top: 2.5rem;
}
.wrap01,
.wrap02,
.wrap03 {
  max-width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.wrap01 iframe,
.wrap02 iframe,
.wrap03 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* section08 */
.sec08 {
  background-image: url(/images/sec08_background02.png);
  background-size: contain;
  padding: 50px 0 100px 0;
}
.white_background {
  padding: 45px;
  background-color: #fff;
  padding: 70px 0 60px 0;
}

/* フッター */
.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.policy li {
  padding: 10px;
}
footer {
  height: 60px;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
  margin: 5px;
}

/* スクロールボタン */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 80%;
}
#page-top a {
  background: #0b79bf;
  text-decoration: none;
  color: #fff;
  width: 70px;
  padding: 10px;
  text-align: center;
  display: block;
  border-radius: 50%;
}
#page-top a:hover {
  text-decoration: none;
  background: #06163d;
}

/*レスポンシブ対応*/

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  section {
    padding: 1rem 0;
  }
  .title {
    padding-bottom: 0;
  }
  /* ヘッダー */
  .top {
    padding: 20px 0;
  }
  .top-btn {
    padding: 10px 15px 30px 15px;
  }

  /* section03 */
  .section_sp_img {
    width: 150%;
  }
  /* section04 */
  .sec04_bk-ground {
    background-image: none;
    height: auto;
  }
  .sec04_bk-ground img {
    padding: 0;
  }
  /* section05 */
  .sec05_5points {
    padding: 0;
  }

  .sec08 {
    padding: 20px 0;
  }
  .white_background {
    padding: 20px 0;
  }
  .policy {
    display: block;
    text-align: left;
  }
  .policy li {
    border-bottom: 1px solid #000;
  }
  footer p {
    padding: 10px;
  }

  /* スクロールボタン */
  #page-top a {
    width: 60px;
    padding: 5px;
  }
}
